<div class="bg-light">
  <div class="container-fluid col-12 col-lg-11">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src=".\assets\images\site\home-page\homepage.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"loading="lazy"/>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">
          Responsive left-aligned hero with image
        </h1>
        <p class="lead">
          Quickly design and customize responsive mobile-first sites with
          Bootstrap, the world’s most popular front-end open source toolkit,
          featuring Sass variables and mixins, responsive grid system, extensive
          prebuilt components, and powerful JavaScript plugins.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-warning px-4" routerLink="/shop">
            Start Shopping
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="my-5">
  <div class="container-fluid col-12 col-lg-11 pb-4">
    <header class="text-center mb-5">
      <h3 class="mb-1">Shop By Categories</h3>
      <p class="text-muted text-sm">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
    </header>
    <div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 g-4 text-center" *ngIf="categories">
      <div class="col" *ngFor="let category of categories" (click)="getProductsByCategory(category.id)">
        <div class="item-hover category-item card h-100 border-0 shadow hover-transition">
          <div class="card-body p-4">
            <div class="mb-3">
                <img style="max-height: 150px; max-width: 100%;" src="{{category.imageUrl}}">
            </div>
            <h5><a>{{category.name}}</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
    <div class="container-fluid col-12 col-lg-11 pb-4">
      <header class="text-center mb-5">
        <h3 class="mb-1">Shop By Brands</h3>
        <p class="text-muted text-sm">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
      </header>
      <div class="row row-cols-3 row-cols-md-4 row-cols-lg-6 g-4 text-center" *ngIf="brands">
        <div class="col" *ngFor="let brand of brands" (click)="getProductsByBrand(brand.id)">
          <div class="item-hover brand-item card h-100 border-0 shadow hover-transition">
            <div class="card-body p-4">
              <div class="mb-3">
                  <img class="col-12" src="{{brand.imageUrl}}">
              </div>
              <h5><a>{{brand.name}}</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="my-5">
  <div class="container-fluid col-12 col-lg-11 pb-4">
    <header class="text-center mb-5">
      <h2 class="mb-1">Latest Products</h2>
      <p class="text-muted text-sm">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
      </p>
    </header>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4" *ngIf="products">
      <div class="col-6 col-md-4 col-lg-3" *ngFor="let product of products" [routerLink]="['/shop/', product.id]">
        <div class="card h-100 border-0 shadow hover-transition">
          <a>
            <img class="card-img-top" src="{{product.imageUrl}}"/>
        </a>
          <div class="card-body p-4">
            <p class="text-sm text-muted mb-2">{{product.lastModified | date: 'd MMMM, y'}}</p>
            <h3 class="h5">
              <a class="stretched-link reset-anchor line-clamp-1">{{product.name}}</a>
            </h3>
            <p class="text-sm text-muted line-clamp-3">{{product.description}}</p>
            <span class="text-primary">Read more</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 text-center pt-4">
        <a class="btn btn-outline-secondary px-4 py-2" routerLink="/shop">Show all products</a>
    </div>
  </div>
</section>
