a{
    text-decoration: none;
}

.reset-anchor {
    color: inherit;
    transition: all 0.3s;
}

.reset-anchor:hover,.reset-anchor:focus {
    text-decoration: none;
}

.hover-transition {
    transition: all 0.3s;
}

.hover-transition:hover {
    transform: translateY(-3px);
}

.item-hover {
    position: relative;
    transition: all 0.2s;

    .card-body {
        z-index: 2;
    }
}

.item-hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    transition: all 0.3s;
    border-radius: .25rem;
    opacity: 0;
    z-index: 1;
}

.category-item::before {
    background: linear-gradient(45deg, #764af0, #7c4af0);
}

.brand-item::before {
    background: black;
}

.item-hover:hover {
    color: #fff;
}

.item-hover:hover::before {
    opacity: 1
}

.item-hover{
    color: #6c757d;
    transition: all 0.2s;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    padding: 20px 20px 0 20px;
    object-fit: contain;
}

.line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
 }

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
 }