<section class="bg-light py-5">
  <div class="container-fluid col-12 col-lg-11">

    <div class="row">
      <!-- sidebar filters -->
      <aside class="col-12 col-md-3" style="max-width: 20%;">
        <app-sidebar-filters></app-sidebar-filters>
      </aside>

      <main class="col-lg-9" style="flex-grow: 1">
        <header class="d-sm-flex justify-content-between align-items-center pb-4">
          <!-- pagination header -->
          <!-- <app-pagination-header *ngIf="pagination" [currentPage]="pagination.currentPage"
            [pageSize]="pagination.pageSize" [totalCount]="pagination.totalCount">
          </app-pagination-header> -->

          <!-- sort dropdown -->
          <div class="ms-auto">
            <select class="form-select form-select-sm d-inline-block w-auto">
              <option>ALphabit</option>
              <option>Price Asc</option>
              <option>Price Desc</option>
            </select>
          </div>
        </header>
        <!-- list of product cards -->
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
          <div class="col" *ngFor="let product of products">
            <app-product-item [product]="product"></app-product-item>
          </div>
        </div>

        <hr>

        <!-- pagination footer -->
        <!-- <div class="d-flex justify-content-center align-items-center mt-4">
          <app-pagination-footer *ngIf="pagination" [pagination]="pagination"
            (pageNumberEmitter)="onParentPageChanged($event)">
          </app-pagination-footer>
        </div> -->
      </main>
    </div>
  </div>
</section>